<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Iris Model</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="gtco-loader"></div>

<div id="page">


  <div class="page-inner">
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../../assets/images/img_2.jpg')">
      <div class="overlay"></div>
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-12 col-md-offset-0 text-left">


            <div class="row row-mt-15em">

              <div class="col-md-7 mt-text " data-animate-effect="fadeInUp">
                <span class="intro-text-small">Explore </span>
                <h1>This is the third Model!</h1>
              </div>

            </div>


          </div>
        </div>

      </div>
    </header>



    <div class="gtco-section border-bottom">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 text-left gtco-heading">
            <h2>Train Classification Model</h2>
            <div class="col-md-7 col-md-push-7 ">
              <div class="form-wrap">
                <div class="tab">
                  <div class="tab-content">
                    <div class="tab-content-inner active" data-content="model">
                      <form action="#">
                        <div class="row form-group">
                          <div class="col-md-12">
                            <h3>Set parameter for model training</h3>
                            <input type="text" class="form-control" id="">
                          </div>
                        </div>


                        <div class="row form-group">
                          <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value=" Train model">
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>


              </div></div></div>

          <div class="col-md-8 text-left gtco-heading">
            <h2>Predict Iris Class</h2>
            <div class="col-md-7 col-md-push-7 ">
              <div class="form-wrap">
                <div class="tab">
                  <div class="tab-content">
                    <div class="tab-content-inner active" data-content="model">
                      <form action="#">
                        <div class="row form-group">
                          <div class="col-md-12">
                            <h3 >Define Iris</h3>
                            <label>Sepal Width</label>
                            <input type="text" class="form-control" id=" ">
                            <label>Sepal Length</label>
                            <input type="text" class="form-control" id=" ">
                            <label>Petal Width</label>
                            <input type="text" class="form-control" id=" ">
                            <label>Petal Width</label>
                            <input type="text" class="form-control" id=" ">

                          </div>
                        </div>


                        <div class="row form-group">
                          <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Predict Iris">
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>


              </div></div></div>

        </div>
      </div>

    </div>

  </div>
</div>
</body>
</html>

