<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/customer']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{customer.customer_id}}</h2></mat-card-title>
    <mat-card-subtitle>{{customer.customer_name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>ID:</dt>
      <dd>{{customer.customer_id}}</dd>
      <dt>Name:</dt>
      <dd>{{customer.customer_name}}</dd>
      <dt>email:</dt>
      <dd>{{customer.customer_email}}</dd>
      <dt>phone:</dt>
      <dd>{{customer.customer_phone}}</dd>
      <dt>Update Date:</dt>
      <dd>{{customer.updated_date | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/customer-edit', customer._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteBook(customer._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
