<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="gtco-loader"></div>

<div id="page">


  <div class="page-inner">

    <header id="gtco-header" class="gtco-cover" role="banner" style="background: url('../../assets/images/img_4.jpg')">
      <div class="overlay"></div>
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-12 col-md-offset-0 text-left">


            <div class="row row-mt-15em">
              <div class="col-md-7 mt-text " data-animate-effect="fadeInUp">
                <span class="intro-text-small">Welcome to our website</span>
                <h1>Choose the module that works best for you</h1>
              </div>
              <div class="col-md-4 col-md-push-1 " data-animate-effect="fadeInRight">
                <div class="form-wrap">
                  <div class="tab">
                    <ul class="tab-menu">
                      <li class="active gtco-first"><a routerLink="/sign-up" data-tab="signup">Sign up</a></li>
                      <li class="gtco-second"><a routerLink="" data-tab="login">Login</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-content-inner active" data-content="signup">
                        <form action="#" #RegForm="ngForm" (ngSubmit)="registerEvent(RegForm.value)">
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label for="username">Username or Email</label>
                              <input type="text" class="form-control" name="email" id="username" ngModel>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" name="password" id="password" ngModel>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label for="password2">Repeat Password</label>
                              <input type="password" class="form-control" id="password2">
                            </div>
                          </div>

                          <div class="row form-group">
                            <div class="col-md-12">
                              <input type="submit" class="btn btn-primary" value="Sign up">
                            </div>
                          </div>
                        </form>
                      </div>

                      <div class="tab-content-inner" data-content="login">
                        <form action="#">
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label for="username">Username or Email</label>
                              <input type="text" class="form-control" id="username">
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-12">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password">
                            </div>
                          </div>

                          <div class="row form-group">
                            <div class="col-md-12">
                              <input type="submit" class="btn btn-primary" value="Login">
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </header>

  </div>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

</body>
</html>

